body{
    
    width: 500px;
    margin: 0 auto;
    font-family: sans-serif;
}
.profile{
    margin-bottom: 10px;

}
.profile-section p{
   margin-top: 10px;
   margin-left: 10px;
}

.profile-inc{
    border: 1px solid grey;
}

.profile-inc h3{
    margin-top: 10px;
    margin-left: 10px;
 }
 .profile-inc p{
    margin-top: 10px; 
    margin-left: 10px;
 }
.profileForm{
   font-size: 1rem; 
}
.profile-section input{
    width:100%;
    
}

.btn{
    margin-top: 20px;
    width: 100px;
    padding: 0.5rem;
}